:root {
    --burly: rgb(227, 206, 180);
    --white: white;
    --black: black;
}

body {
    background: var(--bg);
    color: var(--fontColor);
    font-family: helvetica;
}

li {
    list-style: circle;
}
/* comentario */
.list {
    list-style: square;
}

.light-theme {
    --bg: var(--burly);
    --fontColor: var(--black);
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--burly);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute; /*posicionamento do botão*/
    top: 20px;
    left: 250px;
    height: 50px;
    width: 50px;
    border-radius: 50%; /*raio da borda do botão*/
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}